# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Logs y salidas
*.log
logs/
outputs/
results/
renders/
videos/
*.mp4
*.avi
*.png
*.jpg

# Archivos pesados o temporales
*.npy
*.npz
*.pkl
*.pt
*.pth
*.h5

# Configuración local
.env
